
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<header>
    <div class="navbar navbar-dark bg-primary shadow-sm">
        <div class="navbar-brand align-item-center d-flex">
            <i style="font-size: 20px;" class="fas fa-shipping-fast">&nbsp;

            </i>
            <strong style="font-size: 20px;">Mykart</strong>
            <div class="form-group">
                <input type="text" class="form-control" placeholder="search products">

            </div>
            <span class="fa fa-search search-icon "></span>
        </div>

        <button routerLink="/cart" class="btn btn-primary">
            <i class="fa fa-shopping-cart" style="font-size:30px;color:aliceblue"></i>
            <div style="font-size: 10px;" class="badge">
            </div>
        </button>
    </div>
</header>

<div class="card-top container-fluid">
    <div class="container d-flex">
        <div class="item">
            <a routerLink="/loginsuccess"><img src="../assets/images/giftbox.png" alt="">
                <h6>All product</h6>
            </a>
        </div>
        <div class="item">
            <a routerLink="/Jewelry"><img src="../assets/images/jewelry.png" alt="">
                <h6>Jewelry</h6>
            </a>
        </div>
        <div class="item">
            <a routerLink="/Electronics"><img src="../assets/images/settings.png" alt="">
                <h6>Electronics</h6>
            </a>
        </div>
        <div class="item">
            <a routerLink="/Fashion"><img src="../assets/images/male-clothes.png" alt="">
                <h6>Fashion</h6>
            </a>
        </div>
    </div>

</div>

<div class="container">
    <div class="row">
        <ng-container >
            <div class="card col-md-3">
                <img src="" alt="">
                <h5 style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;max-width:100ch ;">
                    TV</h5>
                <p style="white-space: nowrap; overflow: hidden;text-overflow: ellipsis;max-width:100ch ;">
                    ONIDA
                </p>
                <p><strong>price:</strong>&#8377;100000</p>
                <button class="btn btn-primary" >Add to Cart</button>
            </div>
        </ng-container>
    </div>

</div>
